In [37]:
import pandas as pd
df = pd.read_csv("StudentsPerformanceGrouping.csv")
df.head()

,gender,parental level of education,lunch,test preparation course,math score,reading score,writing score,average,classgroup
0,male,associate s degree,free/reduced,completed,100,100,93,97.666667,group A
1,male,some high school,standard,completed,62,67,69,66.000000,group B
2,male,bachelor s degree,standard,none,77,67,68,70.666667,group B
3,female,associate s degree,standard,completed,59,70,66,65.000000,group B
4,male,bachelor s degree,standard,none,54,49,47,50.000000,group C

In [38]:
# identifikasi missing value

import numpy as np
# replace "?" to NaN
df.replace("?", np.nan, inplace = True)
df.isnull().sum()

gender                         0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
average                        0
classgroup                     0
dtype: int64

In [39]:
from sklearn import preprocessing
le_gen = preprocessing.LabelEncoder()
df['gender'] = le_gen.fit_transform(df['gender'])
le_par = preprocessing.LabelEncoder()
df['parental level of education'] = le_par.fit_transform(df['parental level of education'])
le_lun = preprocessing.LabelEncoder()
df['lunch'] = le_lun.fit_transform(df['lunch'])
le_tes = preprocessing.LabelEncoder()
df['test preparation course'] = le_tes.fit_transform(df['test preparation course'])
df.head()

,gender,parental level of education,lunch,test preparation course,math score,reading score,writing score,average,classgroup
0,1,0,0,0,100,100,93,97.666667,group A
1,1,5,1,0,62,67,69,66.000000,group B
2,1,1,1,1,77,67,68,70.666667,group B
3,0,0,1,0,59,70,66,65.000000,group B
4,1,1,1,1,54,49,47,50.000000,group C

In [40]:
import numpy as np
x = np.array(df[['gender','parental level of education','lunch','test preparation course','math score','reading score','writing score','average']])
y = np.array(df['classgroup'])

# pembagian data menjadi data training dan data testing
x_train = x[:-10,:]
y_train = y[:-10]
x_test = x[-10:,:]
y_test = y[-10:]

In [41]:
from sklearn.svm import SVC
model = SVC()
model.fit(x_train, y_train)

SVC()

In [51]:
# melihat data index baris ke berapa saja yang menjadi support vector
model.support_

array([ 6, 12, 15, 19, 23, 26, 28, 42, 45, 51, 56, 58, 61, 65, 66, 67, 72,
       74, 84, 85,  1,  2,  3,  9, 11, 18, 20, 21, 22, 31, 34, 37, 38, 40,
       44, 50, 52, 53, 57, 59, 71, 75, 77, 79, 81, 83, 86, 88,  5,  7,  8,
       10, 24, 29, 32, 36, 41, 43, 46, 47, 48, 54, 60, 63, 64, 69, 70, 73,
       78, 87])

In [52]:
# jumlah support vektor untuk setiap kelas
model.n_support_

array([20, 28, 22])

In [53]:
from sklearn.metrics import accuracy_score
y_prediksi = model.predict(x_test)
print("y_prediksi : ", y_prediksi)
print("y_test     : ", y_test)
print("\nAkurasi validasi : ", accuracy_score(y_test, y_prediksi))

# precision score
from sklearn.metrics import precision_score
print("Precision score : ", precision_score(y_test, y_prediksi,average='micro'))

# recall score
from sklearn.metrics import recall_score
print("Recall score    : ", recall_score(y_test, y_prediksi,average='micro'))

y_prediksi :  ['group A' 'group B' 'group A' 'group C' 'group C' 'group B' 'group B'
 'group A' 'group C' 'group C']
y_test     :  ['group A' 'group B' 'group A' 'group C' 'group C' 'group B' 'group B'
 'group A' 'group C' 'group C']

Akurasi validasi :  1.0
Precision score :  1.0
Recall score    :  1.0